<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu
                *ngIf="isLogged() === true"
                contentId="main-content"
                type="overlay"
        >
            <ion-content>
                <ion-toolbar color="primary">
                    <h1>
                        Radar Covid
                    </h1>
                    <ion-note>Unisinos - DSIII - Grupo 5</ion-note>
                    <ion-title *ngIf="userService.isAuthenticated() && userService.user?.data?.nomeApelido" size="small"><b>Olá {{userService.user.data.nomeApelido}}</b></ion-title>
                </ion-toolbar>
                <ion-list id="inbox-list">
                    <ion-menu-toggle
                            auto-hide="false"
                    >
                        <ng-container *ngFor="let p of appPages; let i = index">
                            <ion-item
                                    (click)="selectedIndex = i"
                                    [class.selected]="selectedIndex == i"
                                    [routerLink]="[p.url]"
                                    detail="false"
                                    lines="none"
                                    routerDirection="root"
                            >
                                <ion-icon
                                        [ios]="p.icon + '-outline'"
                                        [md]="p.icon + '-sharp'"
                                        slot="start"
                                ></ion-icon>
                                <ion-label>{{ p.title }}</ion-label>
                            </ion-item>
                        </ng-container>


                        <ion-item-divider></ion-item-divider>
                        <ion-item  button (click)="logout()">
                            <ion-icon
                                    ios="log-out-outline"
                                    md="log-out-sharp"
                                    slot="start"
                                    color="danger"
                            ></ion-icon>
                            <ion-label color="danger">Sair</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
