<ion-grid  class="full-width">
  <ion-row>
    <ion-col size="12">

      <ion-card>

        <ion-card-header>
          <h2>Nova Região</h2>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label>Cidades do Brasil</ion-label>
            <ionic-selectable
                    [(ngModel)]="region"
                    itemValueField="id"
                    itemTextField="nome"
                    groupValueField="microrregiao.mesorregiao.UF.id" groupTextField="microrregiao.mesorregiao.UF.nome"
                    [items]="regions"
                    [canSearch]="true"
                    (onSearch)="searchRegions($event)"
                    (onChange)="regionChange($event)"
            >
              <ng-template ionicSelectableGroupTemplate let-group="group">
                {{group.text}}
              </ng-template>
            </ionic-selectable>
          </ion-item>

        </ion-card-content>

        <ion-row>
          <ion-col size="12">
            <ion-button
                    (click)="save()" [disabled]="regionForm.invalid" expand="block">
              Salvar
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeSm="8">
            <ion-button
                    (click)="clear()"
                    color="light"
                    expand="block">
              Limpar
            </ion-button>
          </ion-col>
          <ion-col size="12" sizeSm="4">
            <ion-button
                    (click)="cancel()"
                    color="light"
                    expand="block">
              Cancelar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
